testProfile-core/src/main/resources/schema/CreativeWork.xsd

<?xml version="1.0" ?>
<xs:schema targetNamespace="http://schema.org/CreativeWork" 
           xmlns:lt="http://courseload.com/nuxeo/listTypes" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://courseload.com/nuxeo/listTypes" 
	           schemaLocation="listTypes.xsd"/>
	<xs:import namespace="http://schema.org/Thing" 
	           schemaLocation="Thing.xsd"/>
	<xs:element name="about" type="xs:string">
		<xs:annotation>
			<xs:documentation>The subject matter of the content.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="accessibilityAPI" type="lt:textList">
		<xs:annotation>
			<xs:documentation>
			   Indicates that the resource is compatible with 
			   the referenced accessibility API 
			   (WebSchemas wiki lists possible values).
         </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="accessibilityControl" type="lt:textList">
		<xs:annotation>
			<xs:documentation>
			    Identifies input methods that are sufficient to fully control the 
			    described resource (WebSchemas wiki lists possible values).
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="accessibilityFeature" type="lt:textList">
		<xs:annotation>
			<xs:documentation>
			   Content features of the resource, such as accessible media, 
			   alternatives and supported enhancements for accessibility 
			   (WebSchemas wiki lists possible values).
		   </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="accessibilityHazard" type="lt:textList">
		<xs:annotation>
			<xs:documentation>
			    A characteristic of the described resource that is 
			    physiologically dangerous to some users. 
			    Related to WCAG 2.0 guideline 2.3. 
			    (WebSchemas wiki lists possible values)
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="accountablePerson" type="xs:string">
		<xs:annotation>
			<xs:documentation>
			    Specifies the Person that is legally accountable for the CreativeWork.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="aggregateRating" type="xs:string">
		<xs:annotation>
			<xs:documentation>
			    The overall rating, based on a collection of reviews or ratings, of the item.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="alternativeHeadline" type="xs:string">
		<xs:annotation>
			<xs:documentation>A secondary title of the CreativeWork.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="associatedMedia" type="xs:string">
		<xs:annotation>
			<xs:documentation>
			    The media objects that encode this creative work. 
			    This property is a synonym for encodings.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="audience" type="xs:string">
		<xs:annotation>
			<xs:documentation>
			    The intended audience of the item, 
			    i.e. the group for whom the item was created.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="audio" type="xs:string">
		<xs:annotation>
			<xs:documentation>An embedded audio object.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="author" type="lt:textList">
		<xs:annotation>
			<xs:documentation>
			    The author of this content. 
			    Please note that author is special in that HTML 5 provides 
			    a special mechanism for indicating authorship via the rel tag. 
			    That is equivalent to this and may be used interchangeably.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="award" type="lt:textList">
		<xs:annotation>
			<xs:documentation>
			    An award won by this person or for this creative work.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="citation" type="lt:textList">
		<xs:annotation>
			<xs:documentation>A citation or reference to another creative work, such as another publication, web page, scholarly article, etc.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="comment" type="lt:textList">
		<xs:annotation>
			<xs:documentation>Comments, typically from users, on this CreativeWork.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contentLocation" type="xs:string">
		<xs:annotation>
			<xs:documentation>The location of the content.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contentRating" type="xs:string">
		<xs:annotation>
			<xs:documentation>Official rating of a piece of content—for example,'MPAA PG-13'.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contributor" type="lt:textList">
		<xs:annotation>
			<xs:documentation>A secondary contributor to the CreativeWork.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="copyrightHolder" type="xs:string">
		<xs:annotation>
			<xs:documentation>The party holding the legal copyright to the CreativeWork.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="copyrightYear" type="xs:float">
		<xs:annotation>
			<xs:documentation>The year during which the claimed copyright for the CreativeWork was first asserted.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="dateCreated" type="xs:date">
		<xs:annotation>
			<xs:documentation>The date on which the CreativeWork was created.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="dateModified" type="xs:date">
		<xs:annotation>
			<xs:documentation>The date on which the CreativeWork was most recently modified.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="datePublished" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date of first broadcast/publication.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="discussionUrl" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation>A link to the page containing the comments of the CreativeWork.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="editor" type="lt:textList">
		<xs:annotation>
			<xs:documentation>Specifies the Person who edited the CreativeWork.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="educationalUse" type="xs:string">
		<xs:annotation>
			<xs:documentation>The purpose of a work in the context of education; for example, 'assignment', 'group work'.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="encoding" type="lt:textList">
		<xs:annotation>
			<xs:documentation>A media object that encode this CreativeWork.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="genre" type="xs:string">
		<xs:annotation>
			<xs:documentation>Genre of the creative work</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="headline" type="xs:string">
		<xs:annotation>
			<xs:documentation>Headline of the article</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="inLanguage" type="xs:string">
		<xs:annotation>
			<xs:documentation>The language of the content. please use one of the language codes from the IETF BCP 47 standard.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="interactionCount" type="lt:textList">
		<xs:annotation>
			<xs:documentation>A count of a specific user interactions with this item—for example, 20 UserLikes, 5 UserComments, or 300 UserDownloads. The user interaction type should be one of the sub types of UserInteraction.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="interactivityType_" type="xs:string">
		<xs:annotation>
			<xs:documentation>The predominant mode of learning supported by the learning resource. Acceptable values are 'active', 'expositive', or 'mixed'.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="isBasedOnUrl" type="lt:textList">
		<xs:annotation>
			<xs:documentation>A resource that was used in the creation of this resource. This term can be repeated for multiple sources. For example, http://example.com/great-multiplication-intro.html</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="isFamilyFriendly" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates whether this content is family friendly.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="keywords" type="lt:textList">
		<xs:annotation>
			<xs:documentation>The keywords/tags used to describe this content.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="learningResourceType_" type="xs:string">
		<xs:annotation>
			<xs:documentation>The predominant type or kind characterizing the learning resource. For example, 'presentation', 'handout'.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="mentions" type="lt:textList">
		<xs:annotation>
			<xs:documentation>Indicates that the CreativeWork contains a reference to, but is not necessarily about a concept.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="offers" type="lt:textList">
		<xs:annotation>
			<xs:documentation>An offer to transfer some rights to an item or to provide a service—for example, an offer to sell tickets to an event, to rent the DVD of a movie, to stream a TV show over the internet, to repair a motorcycle, or to loan a book.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="provider" type="xs:string">
		<xs:annotation>
			<xs:documentation>The organization or agency that is providing the service.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publisher" type="xs:string">
		<xs:annotation>
			<xs:documentation>The publisher of the creative work.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publishingPrinciples" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation>Link to page describing the editorial principles of the organization primarily responsible for the creation of the CreativeWork.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="review" type="lt:textList">
		<xs:annotation>
			<xs:documentation>A review of the item.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="sourceOrganization" type="xs:string">
		<xs:annotation>
			<xs:documentation>The Organization on whose behalf the creator was working.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="text" type="xs:string">
		<xs:annotation>
			<xs:documentation>The textual content of this CreativeWork.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="thumbnailUrl" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation>A thumbnail image relevant to the Thing.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="timeRequired" type="xs:string">
		<xs:annotation>
			<xs:documentation>Approximate or typical time it takes to work with or through this learning resource for the typical intended target audience, e.g. 'P30M', 'P1H25M'.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="typicalAgeRange" type="xs:string">
		<xs:annotation>
			<xs:documentation>The typical expected age range, e.g. '7-9', '11-'.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="version" type="xs:float">
		<xs:annotation>
			<xs:documentation>The version of the CreativeWork embodied by a specified resource.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="video" type="xs:string">
		<xs:annotation>
			<xs:documentation>An embedded video object.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
